body {
	font-size: 18px;
	background-image: url('../bin/images/background.jpg');
	background-size: cover;
}

* {
	font-family: 'Open Sans';
}

#outter-container {
	margin: 32px auto;
	max-width: 800px;
	width: 90%;
}

#inner-container {
	background-color: rgba(255,255,255, 0.8);
	padding: 5%;
	
}

input[type="text"], input[type="password"], select {
	margin-bottom: 8px;
}
