<?php

class Credentials {
  public $servername = "https://db.example.com";
  public $username = "admin";
  public $password = "password";
  public $dbname = "pastanaga";
  public $usersdb = "users";
  public $mortsdb = "morts";
};

?>
